<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Compiler</servlet-name>
        <servlet-class>compiler.Compiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionID</servlet-name>
        <servlet-class>compiler.QuestionID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question</servlet-name>
        <servlet-class>compiler.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>compiler.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>compiler.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCompleted</servlet-name>
        <servlet-class>compiler.CheckCompleted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Compiler</servlet-name>
        <url-pattern>/Compiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionID</servlet-name>
        <url-pattern>/QuestionID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question</servlet-name>
        <url-pattern>/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCompleted</servlet-name>
        <url-pattern>/CheckCompleted</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>compiler.DBinit</listener-class>
    </listener>
</web-app>
